<!DOCTYPE html5>
<html5>

    <head>
        <title>Toru</title>
    </head>

    <body>

        <% include templates/header.ejs%>
            <p>Toru</p>
            <% include templates/footer.ejs%>
    </body>
</html5>